<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SSO登录</title>
</head>
<body>

<th:block th:if="${user != null}">
    <span>欢迎<span th:text="${user.username}"></span>回来</span>
</th:block>
<div th:if="${message != null}">
    <span th:text="${message}"></span>
</div>
<th:block th:if="${user == null}">
<form action="login" method="post">
    <input name="username">
    <input name="url" type="hidden" th:text="${url}">
    <input name="password" type="password">
    <input value="提交" type="submit">
</form>
</th:block>
</body>
</html>